# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASSWORD=

# Application Configuration
PORT=80

# Google login data
GOOGLE_LOGIN_CLIENT_ID=""
GOOGLE_LOGIN_CLIENT_SECRET=""
GOOGLE_LOGIN_SUCCESS_REDIRECT_URL="https://buildmeister.no"
GOOGLE_LOGIN_FAILURE_REDIRECT_URL="https://buildmeister.no/account/login"

# AWS S3 Configuration для Yandex S3
AWS_ACCESS_KEY_ID=       # ID ключа доступа (в интерфейсе Yandex S3)
AWS_SECRET_ACCESS_KEY=      # Секретный ключ доступа
AWS_BUCKET_NAME=        # Имя бакета
AWS_REGION=ru-central1       # Регион
AWS_ENDPOINT=https://storage.yandexcloud.net      
AWS_S3_FORCE_PATH_STYLE=true