# Crontab для автоматических бэкапов
# Запуск версионированного экспорта каждое воскресенье в 00:00 UTC
# Формат: минута час день_месяца месяц день_недели команда
0 0 * * 0 cd /app && npm run db:export:versioned >> /proc/1/fd/1 2>> /proc/1/fd/2

